@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">
            <a asp-area="" asp-controller="Books" asp-action="Index">PUSH ME</a>
        </h1>
        <p>And get them books right now!</p>
    </div>
